:root {
    --shelf-rect-stroke-width: 32px;
    --shelf-rect-height-multiplier: 6;
}

body {
    background-color: #86a7cd; /* Replace with your desired color */
}

#wall-above {
    height: 50vh;
    margin: auto;
    border: 1px solid #ccc; /* For visual reference; remove later */
}

#shelf-container {
    position: relative; /* This makes it the reference point for absolutely positioned children */
    width: 50%;
    height: 400px;
    margin: auto;
}

#shelf-svg {
    width: 100%;
    height: 100%;
    display: block;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-miterlimit: 1.5;
}

.debug-rect {
    fill:#00000000;
    stroke:#00000044;
}

.shelf-rect {
    fill:#90624a;
    stroke:#d4996c;
    height: calc(var(--shelf-rect-stroke-width)*var(--shelf-rect-height-multiplier));
    stroke-width:var(--shelf-rect-stroke-width);
}

.shelf-wood-grain-line-svg {
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linejoin:round;
    stroke-miterlimit:2;
}

.shelf-wood-grain-line-path {
    fill:#c6865d;
}

#shelf-wood-grain-line-group-left {
    
}

#shelf-wood-grain-line-group-right {

}

#game-boxes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 32px; /* Space between boxes */
    display: flex; /* Example layout; adjust as needed */
    flex-direction: row; /* Adjust based on your shelf design */
}

.game-box {
    position: absolute;
    width: 100px; /* Adjust based on your design */
    height: calc(var(--shelf-rect-stroke-width)*(var(--shelf-rect-height-multiplier) - 1));
    background-color: #f0f0f0; /* Example color */
    transition: transform 0.3s ease; /* Smooth transition for the hover effect */
}

.game-box:hover {
    transform: translateX(-64px); /* Move to the left on hover */
}