@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
    width: 100%;
  }
  
  /* Flex container for center alignment */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* full viewport height */
    /* Flexbox for centering */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* stack children vertically */
  }
  

  /* Flex container for center alignment */
  .portfolio-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* full viewport height */
    /* Flexbox for centering */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* stack children vertically */
  }
  

  /* Styles for the game images/buttons */
  .game-image {
    width: 200px;
    /* adjust as needed */
    height: 200px;
    /* adjust as needed */
    margin: 1em;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease, filter 0.5s ease;
    perspective: 1000px;
  }
  
  /* Flip animation on hover */
  .game-image:hover .inner {
    transform: rotateY(180deg);
  }
  
  /* Styles for the inner div */
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the front and back */
  .front,
  .back {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    font-size: 1.5em; /* adjust as needed */
}
  
  .front {
    /* Game images go here */
  }
  
  .back {
    /* Content to display on hover goes here */
    transform: rotateY(180deg);
  }
  body {
    background-color: #000; /* or 'black' */
}

.game-image:hover {
    transform: scale(1.1); /* adjust as needed */
    filter: grayscale(100%);
}

/* Add some space above the text */
.back {
    margin-top: 1em; /* adjust as needed */
}

.title, .subtitle {
    /* Flexbox for centering */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Make text pretty */
    letter-spacing: 0.1em; /* adjust as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700; /* adjust as needed */

    color: white;
}

.title {
    font-size: 3.5em; /* adjust as needed */
}

.subtitle {
    font-size: 2.5em; /* adjust as needed */
}
